@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --arab-font-size: 36px;
  --background: oklch(0.99 0.00 0);
  --foreground: oklch(0.27 0.00 0);
  --card: oklch(0.9950 0 0);
  --card-foreground: oklch(0.1450 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1450 0 0);
  --primary: oklch(0.2050 0 0);
  --primary-foreground: oklch(0.9850 0 0);
  --secondary: oklch(0.8700 0 0);
  --secondary-foreground: oklch(0.1450 0 0);
  --muted: oklch(0.9500 0 0);
  --muted-foreground: oklch(0.5560 0 0);
  --accent: oklch(0.9500 0 0);
  --accent-foreground: oklch(0.2050 0 0);
  --destructive: oklch(0.5770 0.2450 27.3250);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.87 0.00 0);
  --input: oklch(0.9700 0 0);
  --ring: oklch(0.7080 0 0);
  --chart-1: oklch(0.8100 0.1000 252);
  --chart-2: oklch(0.6200 0.1900 260);
  --chart-3: oklch(0.5500 0.2200 263);
  --chart-4: oklch(0.4900 0.2200 264);
  --chart-5: oklch(0.4200 0.1800 266);
  --font-sans: DM Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 1rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.20 0.00 0);
  --foreground: oklch(0.87 0.00 0);
  --card: oklch(0.1650 0 0);
  --card-foreground: oklch(0.9850 0 0);
  --popover: oklch(0.2050 0 0);
  --popover-foreground: oklch(0.9850 0 0);
  --primary: oklch(0.9220 0 0);
  --primary-foreground: oklch(0.2050 0 0);
  --secondary: oklch(0.2690 0 0);
  --secondary-foreground: oklch(0.9850 0 0);
  --muted: oklch(0.2690 0 0);
  --muted-foreground: oklch(0.7080 0 0);
  --accent: oklch(0.3710 0 0);
  --accent-foreground: oklch(0.9850 0 0);
  --destructive: oklch(0.7040 0.1910 22.2160);
  --destructive-foreground: oklch(0.9850 0 0);
  --border: oklch(0.37 0.00 0);
  --input: oklch(0.2690 0 0);
  --ring: oklch(0.5560 0 0);
  --chart-1: oklch(0.8100 0.1000 252);
  --chart-2: oklch(0.6200 0.1900 260);
  --chart-3: oklch(0.5500 0.2200 263);
  --chart-4: oklch(0.4900 0.2200 264);
  --chart-5: oklch(0.4200 0.1800 266);
  --font-sans: DM Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Geist Mono, ui-monospace, monospace;
  --radius: 1rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-arab {
  font-family: "indopak-nastaleeq";
  font-weight: 600;
  unicode-bidi: bidi-override;
}
.arab, .font-indopak {
  white-space: pre-line;
  font-family: "indopak-nastaleeq";
  font-size: var(--arab-font-size);
  line-height:1.55em;
  margin-bottom:0.5em;
  direction: rtl;
}
.translation>br {
  margin-bottom:0;
}
p.translation {
  font-weight: 400;
  @apply mt-5 leading-7;
}

article {
  @apply text-lg text-pretty px-4 md:px-6 lg:px-8 pb-24 pt-6;
}

/* Typography */
article h1 {
  @apply scroll-m-20 text-4xl font-bold tracking-tight;
}

article h2 {
  @apply scroll-m-20 border-b pb-2 text-3xl font-bold tracking-tight mt-10 first:mt-0;
}

article h3 {
  @apply scroll-m-20 text-2xl font-bold tracking-tight mt-8;
}

article h4 {
  @apply scroll-m-20 text-xl font-bold tracking-tight mt-6;
}

article h5 {
  @apply scroll-m-20 text-lg font-bold tracking-tight mt-4;
}

article p {
  @apply leading-8 [&:not(:first-child)]:mt-4;
}

article div.arab-center, article div.arab-center + p {
  @apply text-center;
}

article .arab {
  @apply mt-4;
}

article h2 + .arab {
  @apply mt-6;
}

.arab + p + p, .arab + details + details  {
  @apply mt-5;
}

.arab + p + p + .arab, .arab + details + details + .arab, h2 + .arab {
  @apply mt-7;
}

.arab + p > em {
}

/* hide terjemahan */
.hide-translation .arab + p > em + p, .hide-translation .translation {
  display: none;
}

article [class~=lead] {
  @apply text-muted-foreground text-xl mt-0 leading-8;
}

article hr {
  @apply my-3 border-border;
}

article a {
  @apply font-bold break-all hover:underline decoration-2 underline-offset-4 text-blue-500 dark:text-blue-400;
}

.heading, .toc-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  word-break: break-word !important;
  color: var(--text-primary) !important;
}

.toc-link {
  word-break: break-word !important;
  font-family: "Merriweather", sans-serif;
  font-size: 0.9em;
  color: var(--text-primary) !important;
}

article blockquote {
  @apply mt-6 border-l-2 pl-6 italic;
}

article ul {
  @apply my-6 ml-6 list-disc [&>li]:mt-1;
}
article ol {
  @apply my-6 ml-6 list-decimal [&>li]:mt-1;
}
article li > ol {
  @apply my-2;
}
